.badge-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .125rem .5rem;
    text-decoration: none;
    color: #c0c0c0;
    border: thin solid;
    opacity: 0.7;

}

.badge-link:hover {
    opacity: 1;
}

.badge-link span {
    font-size: var(--font-secondsizeText);
}

.badge-link svg {
    height: 1.25rem;
    width: 1.25rem;
}




@media only screen and (max-width: 1000px) {
    .badge-link {
        padding: .3125rem;
    }

}

@media only screen and (max-width: 600px) {
    .badge-link span {
        display: none;
        width: fit-content;
    }
}