.footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: .625rem;
    height: 7.5rem;
    border-top: solid thin #d8d8d810;
}

.footer-logo {
    height: 2.5rem;
    width: 4.6875rem;
    background-image: url('../assets/img/LogoFoot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer svg {
    height: 1.5rem;
    width: 1.5rem;
}

.footer a {
    color: #f2613f;
    height: 2.5rem;
    width: 4.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-sizeText);
}

.footer-date {
    color: #c0c0c0;
    font-size: var(--font-sizeText);
}


@media only screen and (max-width: 1100px) {
    .footer-logo {
        height: 2.1875rem;
        width: 4.0625rem;
    }


    .footer a {
        height: 2.1875rem;
        width: 4.0625rem;
    }
}


@media only screen and (max-width: 600px) {

    .footer {
        height: 6.25rem;
    }

    .footer-logo {
        height: 1.875rem;
    }

    .footer a {
        height: 1.875rem;
    }
}