.header {
    margin-top: 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: var(--font-sizeText);
}

.header-navigation {
    position: fixed;
    top: 0;
    display: flex;
    gap: 1.25rem;
    padding: .3125rem 0.9375rem;
    background-color: #d8d8d810;
    backdrop-filter: blur(.3125rem);
}

.navigation-option {
    text-decoration: inherit;
    color: #f2613f;
    font-weight: 100;
    transition: color .3s;
    font-weight: 600;
}

.navigation-option:hover {
    color: #ff9171;
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
    .header {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .header {
        margin-top: 1.875rem;
    }
}