.itemexp {
    display: grid;
    grid-template-columns: 1.5fr .5fr 8fr;
    gap: .5rem;
    border-right: solid thin #b8b8b810;
    border-bottom: solid thin #b8b8b810;
    border-left: solid thin #b8b8b810;

    background-image: url('../assets/img/img-noise-361x370.png');
    padding: 1rem 2rem;
}

.itemexp-date {
    font-size: var(--font-sizeText);
    display: flex;
    flex-direction: column;
    min-width: 12.5rem;
    color: #c0c0c0;
}

.itemexp-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.itemexp-timeline svg {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    /* color: #2d2d2d; */
    color: #C69749;
}

.timeline-space {
    height: 1.875rem;
    width: .125rem;
}

.timeline {
    height: 100%;
    width: .125rem;
    /* background-color: #f2613f; */
    background-color: #C69749;
}

/* .itemexp-container {
    background-color: yellow;
} */

.itemexp-information {
    padding: 0 0 .625rem 3%;
}

/* .itemexp-title {
    color: #f2613f;
} */

.itemexp-enterprise {
    color: #f2613f;
}

.itemexp-title {
    font-size: var(--font-sizeText);
}

.itemexp-description {
    color: #c0c0c0;
    text-wrap: pretty;

}

.itemexp-description span {
    display: block;
    font-size: var(--font-secondsizeText);
}


@media only screen and (max-width: 1400px) {
    .itemexp-timeline svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .timeline-space {
        height: 1.5rem;
    }

    .itemexp-date {
        min-width: 7.5rem;
    }
}

@media only screen and (max-width: 600px) {

    .itemexp {
        padding: 0;
    }

    .itemexp-timeline svg {
        width: 1.3125rem;
        height: 1.3125rem;
    }

    .timeline-space {
        height: 1.3125rem;
    }

    .itemexp-date {
        min-width: 6.25rem;
    }
}