.projectItem {
  border: solid thin #d8d8d810;
  display: flex;
}

.projectItem-img {
  display: block;
  aspect-ratio: 16/9;
  width: 60%;
}

.projectItem-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 2% 5% 3% 5%;
  background-image: url('/src/assets/img/img-noise-361x370.png');
}

.projectItem-title {
}

.projectItem-division {
  display: flex;
  padding: 0.3125rem 1.875rem;
}

.projectItem-divn {
  display: block;
  width: 50%;
  height: 0.0625rem;
  /* background-color: #f2613f; */
  background-color: #c69749;
}

.divn-left {
  mask-image: linear-gradient(to left, white 50%, transparent);
}

.divn-right {
  mask-image: linear-gradient(to right, white 50%, transparent);
}

.projectItem-description {
  color: #c0c0c0;
  text-wrap: pretty;
  font-size: var(--font-secondsizeText);
  margin-bottom: 0.625rem;
}

.projectItem-buttons {
  display: flex;
  gap: 0.625rem;
}

.projectItem-buttons a {
  text-decoration: none;
}

.projectItem-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: none;
  background-color: #f2613f;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.9;
  transition: background-color ease 0.5s;
}

.projectItem-button:hover {
  opacity: 1;
}

.projectItem-button span {
  font-size: var(--font-secondsizeText);
}

.projectItem-button svg {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .projectItem-button svg {
    height: 1.25rem;
    width: 1.25rem;
  }
}

@media only screen and (max-width: 1100px) {
  .projectItem {
    display: block;
  }

  .projectItem-img {
    width: 100%;
  }

  .projectItem-content {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .projectItem-button svg {
    height: 1.3125rem;
    width: 1.3125rem;
  }
}
