.projects-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300rem, 49%)); */
    gap: 1.25rem;

}

@media only screen and (max-width: 1100px) {
    .projects-container {
        gap: 1.875rem;
    }
}

