.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3125rem;
    padding: 1.25rem 0;
    background-image: url('../assets/img/img-noise-361x370.png');
    border: solid thin #b8b8b810;
}
