.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3125rem;
    padding: 1.25rem 0 0 0;
}


@media only screen and (max-width: 1100px) {
    .skills-container {
        padding: 1.875rem 0 0 0;
    }
}