.tag {
    display: flex;
    align-items: center;
    gap: .25rem;
    width: fit-content;
    padding: .125rem;
    font-size: 1rem;
    line-height: 1rem;
    background-color: #d8d8d810;
    color: #c0c0c0;
    border: solid thin #C69749;
}

.tag svg {
    height: 1rem;
    width: 1rem;
}

@media only screen and (max-width: 600px) {
    .tag {
        font-size: .75rem;
    }

    .tag svg {
        height: .75rem;
        width: .75rem;
    }
}